.section-container {
    margin: 40px 0; 
    width: 100%;
}

.section-header h3 {
    font-size: 24px;
    font-weight: bold;
    color: #474747; 
    margin-bottom: 20px;
}


.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}